div.main {
    width: 820px;
}
.main_body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    outline: none;
    background: url(../images/background.jpg) 0px 0px no-repeat;
}
.box_center {
    margin-left: auto !important;
    margin-right: auto !important;
    
    outline: none;
    line-height: 150%;
    display: block;
    color: #BBBBBB;
}
div.header {
    width: 100%;
    display: block;
    display: flex;
}
.overflow-fix {
    height: 100%;
    overflow: hidden;
}
.clear-fix {
    clear: both;
}
.layout-9010-left {
    width: 50%;
    clear: both;
    float: left;
    outline: none;
    height: 120px;

    background: url(../images/header1.png);
    display: block;
    opacity: 0.7;
}
.layout-9010-right {
    width: 50%;
    clear: both;
    float:right;
    outline: none;

    height: 120px;
    background: url(../images/header2.png);
    display: block;
    opacity: 0.7;
}


.main_box{
    width: 100%;
    height: 580px;
    position: relative;
    
    background-position: 0px 0px;
    background-repeat: no-repeat;
    display: block;
    outline: none;
    line-height: 150%;
    display: block;
    color: #BBBBBB;
    background-image: url(../images/content_overlay.png);

}
.box_menu{
    
    margin: 0px;
    padding: 0px;
    height: 100%;
    height: auto;
    list-style-type: none;
    outline: none;
    line-height: 150%;
    color: #BBBBBB;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.box_menu li {
    top: 10px;
    left: 10px;
    opacity: 0;
    width: 260px;
    height: 180px;
    display: none;
    position: absolute;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    outline: none;
    line-height: 150%;
}
li {
    display: list-item;

}

.box_menu li span.title {
    font-family: 'Fira Sans';
    font-size: 23px;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: 25px;
    margin-top: 30px ;
    display:inline-block

}
.box_menu li span.subtitle {
    display: block;
    margin-left: 25px;
    margin-top: 15px;
    font-family: 'Terminal Dosis','Arial';
    color: #858585;
}
.box_menu li:hover
    {
			opacity:1 !important;
			background-position:0px -180px;
      
		}
.box_menu li.selected
		{
			opacity:1 !important;
			background-position:0px -180px;
      
		}

.box_menu li span.title,
.box_menu li:hover span{
			color:#FFFFFF !important;
	}
.box_menu li.selected span
		{
			color:#FFFFFF !important;
		}


.box-menu-element-about {
    background-image: url(../images/content_box_01.png);
}
.box-menu-element-services {
    background-image: url(../images/content_box_02.png);
}
.box-menu-element-process {
    background-image: url(../images/content_box_03.png);
}
.box-menu-element-images {
    background-image: url(../images/content_box_04.png);
}
.box-menu-element-videos {
    background-image: url(../images/content_box_05.png);
}
.box-menu-element-clients {
    background-image: url(../images/content_box_06.png);
}
.box-menu-element-testimonials {
    background-image: url(../images/content_box_07.png);
}
.box-menu-element-pricing {
    background-image: url(../images/content_box_08.png);
}
.box-menu-element-contact {
    background-image: url(../images/content_box_09.png);
}



@media only screen and (max-width : 450px) {
div.main {
    width: 100%;
}
.main_body {
    width: 100%;
    overflow-x: auto;
}


}
